.modalEditProfileContent {
  display: grid;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas: 'header' 'main' 'footer';

  height: 100%;
  position: relative;

  .modalEditProfileHeader {
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
    padding: 0px 20px;

    h1 {
      font-size: 1.4rem;
    }

    button {
      background: transparent;
      color: $white;
      font-size: 1.2rem;

      transition: all 200ms ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .modalEditProfileMain {
    grid-area: main;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .inputContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin: 10px 15px;

      p {
        margin-bottom: 7px;
      }

      .inputAndIconContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        input {
          background-color: transparent;
          border: 1px solid $primary-color;
          border-radius: 6px;
          height: 40px;
          width: 180px;
          padding: 10px;
          color: $white;
        }

        .icon {
          background-color: $primary-color;
          height: 28px;
          width: 28px;
          border-radius: 10px;
          padding: 6px;
          color: $white;
          filter: drop-shadow(0 0 1px rgba(148, 148, 148, 0.12)) drop-shadow(0 0 2px rgba(148, 148, 148, 0.12))
            drop-shadow(0 0 4px rgba(148, 148, 148, 0.12));
          font-size: 1.1rem;

          margin-right: 10px;
        }
      }
    }
  }

  .modalEditProfileFooter {
    grid-area: footer;
    padding: 0px 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: $primary-color;
      color: $white;
      padding: 10px 20px;
      font-size: 0.9rem;
      border-radius: 6px;

      transition: all 200ms ease-in-out;

      .icon {
        margin-left: 5px;
        font-size: 1.2rem;
      }

      &:hover {
        background-color: $white;
        color: $primary-color;
        transform: scale(1.03);
      }
    }
  }
}
