// Modal Edit Profile
.modalEditProfileContent {
  .modalEditProfileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 50px;

    h1 {
      font-size: 1.4rem;
    }

    button {
      background: transparent;
      color: $white;
      font-size: 1.2rem;

      transition: all 200ms ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .modalEditProfileMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
      font-size: 1.2rem;
      opacity: 0.7;

      border-bottom: 1px solid $primary-color;

      margin-bottom: 10px;
    }

    .modalEditProfileUserFacRipos {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      margin: 30px 0px;

      .modalEditProfileUserRipos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .userRipo {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          margin: 10px;

          img {
            height: 110px;
            width: 70px;
          }

          p {
            margin-top: 5px;
            font-size: 0.8rem;

            max-width: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .modalEditProfileUserFacName {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      margin: 30px 0px;

      h2 {
        font-size: 1.2rem;
        opacity: 0.7;

        border-bottom: 1px solid $primary-color;

        margin-bottom: 10px;
      }

      input {
        width: 180px;
        height: 35px;

        background: transparent;
        border: 0;
        border: 1px solid $primary-color;
        border-radius: 6px;
        color: $white;
        font-size: 0.8rem;

        padding: 5px;

        transition: all 200ms ease-in-out;

        &:hover {
          transform: scale(1.03);
        }

        &:focus {
          transform: scale(1.03);
        }
      }
    }
  }
}

.factionPageContainer {
  min-height: calc(100vh - 100px);

  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .facNameAndOwnerInformations {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    margin: 30px 0px;

    h3 {
      margin-bottom: 10px;
    }

    h5 {
      font-size: 1.5rem;
      font-weight: normal;
    }

    .sectionTitleAndSearchInput {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap-reverse;

      .inputSearchContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        input {
          position: relative;

          background: transparent;
          border: 0;
          background-color: $dark-grey;
          color: #eeeeee9d;
          border-left: 1px solid $primary-color;
          font-size: 0.9rem;

          padding: 8px;
          margin-bottom: 10px;
          width: 200px;
          height: 35px;
        }

        .searchButton {
          position: absolute;
          right: 40px;
          top: 3px;

          background-color: transparent;

          .icon {
            fill: $primary-color;
            filter: drop-shadow(0 0 1px #00a3d937) drop-shadow(0 0 2px #00a3d937) drop-shadow(0 0 4px #00a3d937);
          }
        }

        button {
          background-color: $primary-color;
          color: $white;

          padding: 8px;
          border-radius: 50%;
          margin-left: 10px;
          margin-bottom: 9px;

          transition: all 200ms ease-in-out;

          &:hover {
            transform: scale(1.08);
          }
        }
      }
    }
  }

  .facMembersInformationContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

    .facOwnerImage {
      display: flex;
      align-items: center;
      justify-content: center;

      background-image: url('../../assets/images/BolaPersonagens.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      height: 400px;
      width: 250px;

      margin-right: 150px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 90%;
      }
    }

    .facMembersContainer {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      h4 {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        margin-bottom: 30px;

        font-size: 1.6rem;

        span {
          font-size: 1.3rem;
          font-weight: 400;
          margin-left: 20px;
        }

        p {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }

      .membersContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        .memberContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          margin: 10px;

          img {
            height: 105px;
            width: 55px;

            &:first-child {
              margin-left: 0;
            }
          }

          p {
            margin-top: 5px;
            font-size: 0.8rem;

            max-width: 54px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .facInformationsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;

    margin: 30px 0px;

    .facInformationContainer {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      margin: 20px 10px;

      h4 {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 20px;

        font-size: 1.6rem;

        .icon {
          color: $primary-color;
          filter: drop-shadow(0 0 2px $primary-color-opacity) drop-shadow(0 0 4px $primary-color-opacity)
            drop-shadow(0 0 6px $primary-color-opacity);

          margin-left: 5px;
        }
      }

      img {
        height: 70px;
      }

      p {
        margin-top: 20px;
        align-self: center;
        opacity: 0.8;
      }
    }
  }

  .facCollectionContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    margin: 30px 0px;

    h4 {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      margin-bottom: 30px;

      font-size: 1.6rem;

      span {
        font-size: 1.3rem;
        font-weight: 400;
        margin-left: 20px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }

    .collectionContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      .itemCollection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin: 10px;

        img {
          height: 110px;
          width: 70px;
        }

        p {
          margin-top: 5px;
          font-size: 0.8rem;

          max-width: 80px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .facGunsContainer {
    margin: 30px 0px;

    h4 {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      margin-bottom: 30px;

      font-size: 1.6rem;

      span {
        font-size: 1.3rem;
        font-weight: 400;
        margin-left: 20px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }

    .gunsContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      .gunItem {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin: 10px;

        img {
          height: 45px;
          margin-bottom: 5px;

          &:first-child {
            margin-left: 0;
          }
        }

        p {
          margin-top: 5px;
          font-size: 0.8rem;

          max-width: 80px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .facCarsContainer {
    margin: 30px 0px;

    // TODO: remove this if pags has more height
    padding-bottom: 50px;

    h4 {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      margin-bottom: 30px;

      font-size: 1.6rem;

      span {
        font-size: 1.3rem;
        font-weight: 400;
        margin-left: 20px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }

    .carsContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      .carItem {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin: 10px;

        img {
          height: 45px;
          margin-bottom: 5px;

          &:first-child {
            margin-left: 0;
          }
        }

        p {
          margin-top: 5px;
          font-size: 0.8rem;

          max-width: 80px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
