.modalEditCrateDropsContent {
  display: grid;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas: 'header' 'main' 'footer';

  height: 100%;
  position: relative;

  .modalEditCrateDropsHeader {
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
    padding: 0px 20px;

    h1 {
      font-size: 1.4rem;
    }

    button {
      background: transparent;
      color: $white;
      font-size: 1.2rem;

      transition: all 200ms ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .modalEditCrateDropsMain {
    grid-area: main;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    overflow-y: scroll;

    padding: 20px;

    .modalEditCrateDropsRipos {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      h2 {
        font-size: 1.2rem;
        opacity: 0.7;

        border-bottom: 1px solid $primary-color;

        margin-bottom: 10px;
      }

      .modalEditCrateDropsAllRipos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .drop {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;

          margin: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          overflow: hidden;

          transition: all 200ms ease-in-out;

          img {
            height: 110px;
            width: 70px;
          }

          p {
            margin-top: 5px;
            font-size: 0.8rem;

            max-width: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:hover {
            transform: translateY(-0.3rem);
          }
        }

        .drop.common {
          &::after {
            content: '';
            background-color: rgb(148, 148, 148);
            height: 7px;
            width: 70%;
            transform: translate(50%, -50%);
            top: 0;
            right: 50%;
            position: absolute;
            border-radius: 12px;
            filter: drop-shadow(0 0 1px rgba(148, 148, 148, 0.12)) drop-shadow(0 0 2px rgba(148, 148, 148, 0.12))
              drop-shadow(0 0 4px rgba(148, 148, 148, 0.12));
          }
        }
        .drop.unusual {
          &::after {
            content: '';
            background-color: rgb(0, 180, 0);
            height: 7px;
            width: 70%;
            transform: translate(50%, -50%);
            top: 0;
            right: 50%;
            position: absolute;
            border-radius: 12px;
            filter: drop-shadow(0 0 1px rgb(0, 180, 0, 0.12)) drop-shadow(0 0 2px rgb(0, 180, 0, 0.12))
              drop-shadow(0 0 4px rgb(0, 180, 0, 0.12));
          }
        }
        .drop.rare {
          &::after {
            content: '';
            background-color: rgb(130, 17, 128);
            height: 7px;
            width: 70%;
            transform: translate(50%, -50%);
            top: 0;
            right: 50%;
            position: absolute;
            border-radius: 12px;
            filter: drop-shadow(0 0 1px rgb(130, 17, 128, 0.12)) drop-shadow(0 0 2px rgb(130, 17, 128, 0.12))
              drop-shadow(0 0 4px rgb(130, 17, 128, 0.12));
          }
        }
        .drop.legendary {
          &::after {
            content: '';
            background-color: rgb(255, 225, 0);
            height: 7px;
            width: 70%;
            transform: translate(50%, -50%);
            top: 0;
            right: 50%;
            position: absolute;
            border-radius: 12px;
            filter: drop-shadow(0 0 1px rgb(255, 225, 0, 0.12)) drop-shadow(0 0 2px rgb(255, 225, 0, 0.12))
              drop-shadow(0 0 4px rgb(255, 225, 0, 0.12));
          }
        }

        .drop.selected {
          background-color: $dark-grey;
          border-radius: 12px;

          transition: all 200ms ease-in-out;
        }
      }
    }
  }

  .modalEditCrateDropsFooter {
    grid-area: footer;
    padding: 0px 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: $primary-color;
      color: $white;
      padding: 10px 20px;
      font-size: 0.9rem;
      border-radius: 6px;
      margin: 0px 5px;

      transition: all 200ms ease-in-out;

      .icon {
        margin-left: 5px;
        font-size: 1.2rem;
      }

      &:hover {
        background-color: $white;
        color: $primary-color;
        transform: scale(1.03);
      }

      &:first-child {
        background-color: transparent;
        border: 1px solid $primary-color;
        filter: drop-shadow(0 0 1px #00a3d91e) drop-shadow(0 0 2px #00a3d91e) drop-shadow(0 0 4px #00a3d91e);

        opacity: 0.9;

        .icon {
          font-size: 1rem;
          color: $primary-color;
          filter: drop-shadow(0 0 1px #00a3d91e) drop-shadow(0 0 2px #00a3d91e) drop-shadow(0 0 4px #00a3d91e);
        }
      }
    }
  }
}
