@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/myriadProRegular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/myriadProBold.ttf');
  font-weight: 700;
}
